<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://192.168.1.152:3306/datos?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">abc123.</property>
    <property name="hibernate.show_sql">true</property>
    <mapping resource="hibernate/mapping/Empleado.hbm.xml"/>
    <mapping resource="hibernate/mapping/Categoria.hbm.xml"/>
    <mapping resource="hibernate/mapping/Usuario.hbm.xml"/>
    <mapping resource="hibernate/mapping/FormaPago.hbm.xml"/>
    <mapping resource="hibernate/mapping/LineasPedido.hbm.xml"/>
    <mapping resource="hibernate/mapping/Articulo.hbm.xml"/>
    <mapping resource="hibernate/mapping/Cliente.hbm.xml"/>
    <mapping resource="hibernate/mapping/Proveedor.hbm.xml"/>
    <mapping resource="hibernate/mapping/Pedido.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
